.analytics-iframe-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.analytics-iframe {
  width: 100%;
  height: 100vh;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}
